body#home .nav-home, body#WhoIAm .nav-About, body#Resume .nav-Resume, body#MeNav.nav-Interests, body#previousworks .nav-previousworks
			{background-color:#29336B; color: #F8F068; display:block;}
#wrap 		{width: 960px; margin: 0 auto;}
#mainnav li	{float:left; width:120px; height:25px; background-color:#05cf26; 
			text-align:center; border-left:1px black solid; 
			border-right:1px black solid; line-height:25px;}
#ExampleNav li	{float:left; width:100px; height:20px; background-color:#FFFFFF; 
			text-align:center; border-left:1px black solid; 
			border-right:1px white solid; line-height:20px;} 
#mainnav ul li a:hover 	{background-color:#29336B; color#F8F068; display:block;}
ExampleNav ul li a:hover 	{background-color:#29336B; color#F8F068; display:block;}
#MeNav ul li a:hover 		{background-color:#FFa400; color#FFFFFF; display:block;}
goldtext		{color: gold;}
EmeraldText	{color:#33dd0c;}
HomePageText	{color:#FFFFFF; font-size: 95%;} 
body	{background-image: url(pictures/Eons_Background.jpg); background-position: top left;
		background-repeat: no-repeat;font-size:100%; width:100%; height:100%; margin:2.5% 2.5% 2.5% 2.5%; 
		color:#FFFFFF; background-color:#000000;}
#OEF	{font-family:Old English Text;}
@font-face {font-family: Old English Text; src: url(OLDENGL.TTF);}
h1		{font-size:200%; font-family:Old English Text;}
h2		{font-size: 150%; margin-bottom:0em}
h3	 	{font-size:200%; font-family: Old English Text MT; 
		color: gold; transform:matrix(-1, 0, 0, 1, -700, -32);} 
h4		{font-size: 130%; font-family: Times New Roman;}
		/* h4 - h6 are still default on all pages */

#footer  {clear: both; background-color: black; position-bottom;
	width: 150px;
	height: 20px;
	padding-top: 10px;}
button{
    position:absolute;
    top:100px;
    left:75px;
}
/*set display to none*/
					
/* #testTransform		
{transform:translate(100px); background-color:blue; width: 100px; 
transform:matrix(-1, 0, 0, 1, -50, 0); color:pink;} 
/* matrix( x scale. xskew (ignore), yskew(ignore), y scale, w translation, y translation) */
*/
/*background-image:  url(pictures/myWorks/Banner.png)*/